<p id="notice"><%= notice %></p>

<h2>
  <%= "#{@beer_club.name} #{@beer_club.city}" %>
</h2>

<p>
  Founded <%= @beer_club.founded %>
</p>

<% if @beer_club.members.any? %>

  <h3>Members</h3>
  <ul>
    <% @beer_club.memberships.each do |membership| %>
      <% if membership.confirmed %>
        <li><%= link_to membership.user.username, membership.user %></li>
      <% end %>
    <% end %>
  </ul>

  <h3>Pending applications</h3>
  <ul>
    <% @beer_club.memberships.each do |membership| %>
      <% unless membership.confirmed %>
        <li>
          <%= link_to membership.user.username, membership.user %>
          <% if current_user.in? @beer_club.members %>
            <%= link_to 'confirm', confirm_membership_path, class:"btn btn-primary" %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>

<% else %>

  <p>
    no members
  </p>

<% end %>

<br>

<% if current_user.in? @beer_club.members %>
  <%= form_for(@membership, method: "delete") do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value: "end the membership" %>
  <% end %>
<% end %>

<% if current_user and not current_user.in? @beer_club.members %>

  <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club" %>
  <% end %>

<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>