<p id="notice"><%= notice %></p>



<p>

  <h1><%= @style.name %></h1>
</p>



<p>
  <%= @style.description %>

</p>

<p>
  <strong>beers</strong>
  <ul>
    <% @style.beers.each do |beer| %>
      <li><%= link_to beer.to_s, beer %></li>
    <% end %>
  </ul>
</p>

<br>

<%= edit_and_destroy_buttons(@style) %>